$border-color: #c0c0c0;
$blue: #61b8ff;
$black: #0a0a0a;
$cell-width: 120px;
$dark-gray: #2e2e2e;
$formula-height: 40px;
$gray: #535353;
$light-green: #d4fdbc;
$header-height: 48px;
$light-gray: #eeeeee;
$ultra-light-gray: #fcfcfc;
$toolbar-height: 40px;
$pink: pink;
$row-number-width: 50px;
$red: #f84848;
$row-height: 24px;
$white: #ffffff;
$db-header-height: 64px;
