@import './variables';
@import './mixins';

:root {
  --display: none;
  --width: 0;
  --height: 0;
  --shift: 0;
}

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 1px;

  &-row {
    display: flex;
    flex-direction: row;
    min-height: $min-row-height;
    height: $row-height;
  }
}

.table__row {
  &-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $row-number-width + 15px;
    min-height: $min-row-height;
    border: 1px solid $border-color;
    border-top: none;
    background-color: $light-gray;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  
    &--empty {
      background-color: transparent;
    }
  }

  &-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-color: $blue;
    opacity: 0;
    transition: all .1s;
    z-index: 2;

    &--hidden {
      visibility: hidden;
    }

    &:hover {
      opacity: 1;
      cursor: row-resize;
    }
  }

  &-data {
    display: flex;
  }
}

.table__column {
  position: relative;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $row-number-width;
  width: $cell-width;
  border: 1px solid $border-color;
  border-top: none;
  border-left: none;
  background-color: $light-gray;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 

  &-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3px;
    background-color: $blue;
    opacity: 0;
    transition: all .1s;
    z-index: 2;

    &:hover {
      opacity: 1;
      cursor: col-resize;
    }
  }
}

.table__cell {
  position: relative;
  min-width: $row-number-width;
  width: $cell-width;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid $light-gray;
  border-top: none;
  border-left: none;
  white-space: nowrap;
  outline-width: 0;
  overflow: hidden;
  &--selected {
    border: 2px solid $blue;
    border-radius: 2px;
    background-color: $ultra-light-gray;
    outline: none;
    position: relative;
  }
}

.table__cell.table__cell--first-in-group:after {
  content: '';
  box-sizing: border-box;
  top: var(--shift);
  left: var(--shift);
  z-index: -1;
  width: var(--width);
  height: var(--height);
  position: absolute;
  border: 1px solid $blue;
  background-color: $selected;
  display: var(--display);
}